includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - "#^Access to an undefined property#"
        - "#^PHPDoc tag @var above a method has no effect#"
        - "#^PHPDoc tag @var does not specify variable name#"

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
